.biblepage{
  border-radius: 20px;
  border: 1px solid black;
}

.bibletitle{
  text-align: center;
  font: 16px calibri;
  text-transform:capitalize;
  color: #696969;
  font-weight: bold;
  border:none;
  outline:none;
  padding: 5px;
  background-color: #fff;
  cursor:pointer;
}

.biblechapter{
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
text-align: center;
}

.bibletext{
  margin: 20px;
  padding: 10px;
  font: 12px arial;
  line-height: 200%;
}
.biblenavigation{
  display: flex;
  justify-content:space-between;
  border-radius: 30px;
  height: 60px;
  border: 1px solid #a9a9a9;
  align-items: center;
  margin: 10px 15px 30px 15px;
}

.leftbutton, .rightbutton{
 font: 30px arial;
 border:none;
 outline:none;
background-color: #fff;
cursor:pointer;
}
.leftbutton{
  margin-left:20px
}

.rightbutton{
  margin-right: 20px;
}
.selectchapter button{
  padding: 16px;
  border-radius: 5px;
  margin: 0px 10px;
  cursor:pointer;
}

.selectchapter ul{
  display:flex;
  list-style-type: none;
}

span{
  font-size: 50px;
  margin: 10px 30px;
  font-weight:bold;
  cursor:pointer;
}

.bottommenu {
  display:flex;
cursor:pointer;
margin:0;
padding:0;
list-style-type: none;

}

.bottommenu li span{
  font-size: 14px;
  font-weight:300;
  
}
.bottommenu li{
  width: 20%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
text-align: center;
}
.bottommenu li:hover{
  opacity: 0.5;
}